<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    
    id="c4-api-cordova-plugin"
    version="1.0.4">
    <name>C4 Api Cordova Plugin</name>
    <description>Cordova Plugin for ID Tronic C4 Red API with NEWLAND 2D Scanner</description>
    <license>MIT</license>
    <keywords></keywords>
    <repo>https://github.com/hschindler/c4-api-cordova-plugin.git</repo>
    <issue>https://github.com/hschindler/c4-api-cordova-plugin.git/issues</issue>

    <js-module src="www/plugin.js" name="plugin">
        <runs/>

        <!-- This is the window variable name you want, like window.MyCordovaPlugin -->
        <clobbers target="C4ApiCordovaPlugin" />
    </js-module>

    <!-- android -->
    <platform name="android">

        <hook type="before_plugin_install" src="scripts/update_build_gradle.js" />       
      
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="C4ApiCordovaPlugin">
                <param name="android-package" value="de.c4Api.C4ApiCordovaPlugin" />
                <param name="onload" value="true" />
            </feature>        
        </config-file> 

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.CAMERA" />
        </config-file>

        <framework src="src/android/extras.gradle" custom="true" type="gradleReference" />

        <source-file src="src/android/de/c4Api/EPC.java" target-dir="src/de/c4Api/" />
        <source-file src="src/android/de/c4Api/C4ApiCordovaPlugin.java" target-dir="src/de/c4Api/" />

        <!-- <source-file src="src/android/libs/android-support-v4.jar" target-dir="libs" /> -->
        <source-file src="src/android/libs/ModuleAPI_Android_2.2.0.0.jar" target-dir="libs" />
        <source-file src="src/android/libs/decoderapijni.jar" target-dir="libs" />
        <source-file src="src/android/libs/handheldApi.jar" target-dir="libs" />
        
        <source-file src="src/android/libs/armeabi/libdevapi.so" target-dir="libs/armeabi" />        
        <source-file src="src/android/libs/armeabi/libirdaSerialPort.so" target-dir="libs/armeabi" /> 

        <source-file src="src/android/libs/armeabi-v7a/libdevapi.so" target-dir="libs/armeabi-v7a" />        
        <source-file src="src/android/libs/armeabi-v7a/libirdaSerialPort.so" target-dir="libs/armeabi-v7a" /> 
        
            


      <!-- <source-file src="src/android/libs/decoderapijni.jar" target-dir="libs" />        
      <source-file src="src/android/libs/handheldApi.jar" target-dir="libs" />        
      <source-file src="src/android/libs/ModuleAPI_Android_2.2.0.0.jar" target-dir="libs" />         -->

      <!-- <source-file src="src/android/libs/armeabi/libandroid_060.so" target-dir="libs/armeabi" />        
      <source-file src="src/android/libs/armeabi/libdevapi.so" target-dir="libs/armeabi" />      
      <source-file src="src/android/libs/armeabi/libDeviceAPI.so" target-dir="libs/armeabi" />      
      <source-file src="src/android/libs/armeabi/libFpCore.so" target-dir="libs/armeabi" />      
      <source-file src="src/android/libs/armeabi/libfxjni.so" target-dir="libs/armeabi" />      
      <source-file src="src/android/libs/armeabi/libirdaSerialPort.so" target-dir="libs/armeabi" />      
      <source-file src="src/android/libs/armeabi/libModuleAPI_Android_Arm.so" target-dir="libs/armeabi" />      
      <source-file src="src/android/libs/armeabi/libNETLH_E.so" target-dir="libs/armeabi" />      
      <source-file src="src/android/libs/armeabi/libPSAM.so" target-dir="libs/armeabi" />      
      <source-file src="src/android/libs/armeabi/libSerialPort.so" target-dir="libs/armeabi" />       -->

      <!-- <source-file src="src/android/libs/armeabi-v7a/libandroid_060.so" target-dir="libs/armeabi-v7a" />        
      <source-file src="src/android/libs/armeabi-v7a/libdevapi.so" target-dir="libs/armeabi-v7a" />      
      <source-file src="src/android/libs/armeabi-v7a/libDeviceAPI.so" target-dir="libs/armeabi-v7a" />      
      <source-file src="src/android/libs/armeabi-v7a/libFpCore.so" target-dir="libs/armeabi-v7a" />      
      <source-file src="src/android/libs/armeabi-v7a/libfxjni.so" target-dir="libs/armeabi-v7a" />      
      <source-file src="src/android/libs/armeabi-v7a/libirdaSerialPort.so" target-dir="libs/armeabi-v7a" />      
      <source-file src="src/android/libs/armeabi-v7a/libModuleAPI_Android_Arm.so" target-dir="libs/armeabi-v7a" />      
      <source-file src="src/android/libs/armeabi-v7a/libNETLH_E.so" target-dir="libs/armeabi-v7a" />      
      <source-file src="src/android/libs/armeabi-v7a/libPSAM.so" target-dir="libs/armeabi-v7a" />      
      <source-file src="src/android/libs/armeabi-v7a/libSerialPort.so" target-dir="libs/armeabi-v7a" />       -->
      

    </platform>
</plugin>
