<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    
    id="c4-api-cordova-plugin"
    version="1.0.2">
    <name>C4 Api Cordova Plugin</name>
    <description>Cordova Plugin for ID Tronic C4 Red API with NEWLAND 2D Scanner</description>
    <license>MIT</license>
    <keywords></keywords>
    <repo>https://github.com/driftyco/cordova-plugin-template.git</repo>
    <issue>https://github.com/driftyco/cordova-plugin-template/issues</issue>

    <!-- android -->
    <platform name="android">
      <js-module src="www/plugin.js" name="plugin">
        <runs/>

        <!-- This is the window variable name you want, like window.MyCordovaPlugin -->
        <clobbers target="C4ApiCordovaPlugin" />
      </js-module>
      <config-file target="res/xml/config.xml" parent="/*">
        <feature name="C4ApiCordovaPlugin">
          <param name="android-package" value="de.c4Api.C4ApiCordovaPlugin" />
          <param name="onload" value="true" />
        </feature>        
    
      </config-file> 


        <source-file src="src/android/libs/android-support-v4.jar" target-dir="libs" />
        <source-file src="src/android/libs/decoderapijni.jar" target-dir="libs/" />
        <source-file src="src/android/libs/handheldApi.jar" target-dir="libs/" />
        <source-file src="src/android/libs/ModuleAPI_Android_2.2.0.0.jar" target-dir="libs" />


      <source-file src="src/android/libs/armeabi/libandroid_060.so" target-dir="libs/armeabi/" />
      <source-file src="src/android/libs/armeabi/libdevapi.so" target-dir="libs/armeabi/" />
      <source-file src="src/android/libs/armeabi/libDeviceAPI.so" target-dir="libs/armeabi/" />
      <source-file src="src/android/libs/armeabi/libFpCore.so" target-dir="libs/armeabi/" />
      <source-file src="src/android/libs/armeabi/libfxjni.so" target-dir="libs/armeabi/" />
      <source-file src="src/android/libs/armeabi/libirdaSerialPort.so" target-dir="libs/armeabi/" />
      <source-file src="src/android/libs/armeabi/libModuleAPI_Android_Arm.so" target-dir="libs/armeabi/" />
      <source-file src="src/android/libs/armeabi/libNETLH_E.so" target-dir="libs/armeabi/" />
      <source-file src="src/android/libs/armeabi/libPSAM.so" target-dir="libs/armeabi/" />
      <source-file src="src/android/libs/armeabi/libSerialPort.so" target-dir="libs/armeabi/" />

      <source-file src="src/android/de/c4Api/EPC.java" target-dir="src/de/c4Api/" />
      <source-file src="src/android/de/c4Api/C4ApiCordovaPlugin.java" target-dir="src/de/c4Api/" />
      
      <config-file target="AndroidManifest.xml" parent="/*">

        <uses-permission android:name="android.permission.CAMERA" />
     
      </config-file>
    
      
    </platform>

    <!-- ios -->
    <platform name="ios">
        <js-module src="www/plugin.js" name="plugin">
            <runs/>
            <clobbers target="C4ApiCordovaPlugin" />
        </js-module>
        <config-file target="config.xml" parent="/*">
            <feature name="C4ApiCordovaPlugin">
                <param name="ios-package" value="C4ApiCordovaPlugin" onload="true" />
            </feature>
        </config-file>

        <header-file src="src/ios/C4ApiCordovaPlugin.h" />
        <source-file src="src/ios/C4ApiCordovaPlugin.m" />
    </platform>
</plugin>
